*~
*#*
*.aux
*.o
*.mod
*.dat
*.log
*.pdf
lib/
lib_par/
*.vtu
*.msh
test/*/run
examples/*/run
test/*/run2d
test/*/run_transient
test/*/run_serial
*.res
test/*/refusal
test/*/mutation
test/fractal-map/set
test/fractal-map/relation
test/fractal-map/scale
test/*/lifetime
test/*/tag_refusal
test/calculator-tower/*/run
test/calculator-tower/*/refusal
test/calculator-tower/*/run.out
test/learning-tower/*/run
test/learning-tower/*/refusal
test/learning-tower/*/run.out
test/derivative-action-tower/*/run
test/derivative-action-tower/*/refusal
test/derivative-action-tower/*/run.out
test/adjoint-tower/*/run
test/adjoint-tower/*/refusal
test/adjoint-tower/*/run.out
test/partitioned-implicit-pde-tower/*/run
test/partitioned-implicit-pde-tower/*/refusal
test/partitioned-implicit-pde-tower/*/run.out
test/time-integration-tower/*/run
test/time-integration-tower/*/refusal
test/time-integration-tower/*/run.out
test/visualization-tower/*/run
test/visualization-tower/*/refusal
test/visualization-tower/*/run.out
test/graph-partition/run
test/graph-set-view/run
test/graph-set-view/refusal
test/graph-inclusion/run
test/graph-inclusion/refusal
test/graph-identity-map/labels
