# transient (backward euler) box - marches to the steady box solution
mesh      ../../test/box-3.msh
equation  diffusion
kappa     1.0
boundary  front  dirichlet 5.0
boundary  bottom dirichlet 10.0
boundary  right  dirichlet 15.0
boundary  top    dirichlet 0.0
boundary  left   dirichlet 0.0
boundary  back   dirichlet 0.0
dt        10.0
t_init    0.0
t_final   200.0
max_tol   1.0e-13
max_it    500
output    box-transient.vtu
